{
    "presets": [
        [
            "@babel/preset-env"
            // {
            //     "useBuiltIns": "usage"
            // }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-proposal-decorators", { //装饰器
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties", {
                "loose": true
            }
        ]
    ]
}